body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    justify-content: space-between;
    background:#C4CDC1;
    padding:8px;
}
nav{
   position:fixed;
   overflow:hidden;
   top:0;
   left:0;
   right:0;
   background-color:#333;
}
.back{
    position:absolute;
    right:0;
    bottom:0;
    z-index:-1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.title{
    font-family: 'Comic Sans MS', cursive;
    font-size: 45px;
    color:#2F575D;
    text-align: center;
    padding-top:25px;
}
h2{
   padding-left:15px;
}
.adv img{
   margin:15px;
}
.para{
   padding:15px;
   font-family:'Times New Roman';
   font-size:20px;
}
.about{
     font-family:'Times New Roman';
     font-size:21px;
}
.about img{
     padding:20px;
     
}
.attractions{
     font-family:'Times New Roman';
     font-size:23px;
}
img{
    padding:10px;
}
nav ul {
    align-items:center;
    list-style-type: none;
    padding: 100;
    
}
.gallery {
  margin: 20px;
  width: 320px;
  display: inline-block;
  transition: 1s;
  border: 0px solid #777;
}

.gallery:hover {
  border: 15px solid #777;
border-radius: 15px
}

.gallery img {
  width: 300px;
  height: 300px;
  display: inline-block;
}
.desc {
  padding: 15px;
  text-align: center;
  color:#DB005B;
  font-weight:bold;
  font-size:23px;
}
nav li {
    display: inline;
    background: green;
    padding: 20px;
    margin-left:50px;
    margin-right:100px;
    font-family: "Times New Roman", Times, serif;
    font-size:22px;
    position: relative;
}
nav li:first-child {
    margin-left:100;
}

nav a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
transition: .65s
}

nav a:hover {
    font-size: 1.1em;
    color: orange;
    
}
        #form1 {
            max-width: 500px;
            margin: auto;
        }
        #form1 input, #form1 textarea {
            width: 70%;
            padding: 10px;
            margin-bottom: 10px;
        }
        h1{
	    text-align:center;
	} 
 	#name,#email,#fb {
    	    border-radius:5px;
        }
	.click{
	    padding-left:150px;;
	}
	form{
	   float:left;
	   padding:20px;
	}
	h1{
	   text-align:left;
	}
        .loc{
	   padding-left:450px;
	   padding-top:15px;
	}
        .loc a{
	   text-decoration: none;
	   color:black;
	}
.i img{
 float:right;
 width:300px;
 height:300px;
 padding-right:150px;
}

section {
    padding:2px;
}
h1{
   font:size:0px;
   padding-top:0px;
}
.down img{
   height:200px;
   width:1490px;
}
.tooltip-text {
  visibility: hidden;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
bottom: 125%; 
            left: 50%;
            margin-left: -60px; 
            opacity: 0;
            transition: opacity 0.3s;
}
.hover-text:hover .tooltip-text {
  visibility: visible;
}
.hover-text {
  position: relative;
  display: inline-block;
}
