.intro{
    color:crimson;
    padding-left:20px;
    font-size:20px;
}
img{
   width:400px;
   height:350px;
   float:left;
   padding:35px;
}
.side{
   padding:35px;
   font-size:10px;
}
.heading{ 
   padding-left:900px;
   font-size:20px;
}
.title{
   float:top;
   font-size:50px;
   padding:0px;
   color:#1F4172;
   text-align:center;
}
.chembra{
    background-color:#C2DEDC;
}